name: Go

on:
  push:
    branches: [ master, main ]
  pull_request:

permissions:
  actions: read
  contents: read
  packages: read
  pull-requests: write

jobs:

  build:
    name: Build and Unit Test
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25

      - name: Check out code
        uses: actions/checkout@v4

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v -race -covermode=atomic -coverprofile=coverage.txt ./...

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}


